<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gae.mapper.ABMapper">

	<resultMap type="com.gae.dto.ABDTO" id="AB">
		<id column="AB_ID" property="ABId" />
		<result column="SH_ID" property="SHId" />
		<result column="AB_DATE" property="ABDate" />
		<result column="AB_LOCATION" property="ABLocation" />
		<result column="AB_STATUS" property="ABStatus" />
		<result column="AB_BREED" property="ABBreed" />
		<result column="AB_GENDER" property="ABGender" />
		<result column="AB_AGE" property="ABAge" />
		<result column="AB_WEIGHT" property="ABWeight" />
		<result column="AB_COLOR" property="ABColor" />
		<result column="AB_CHARACTER" property="ABCharacter" />
		<result column="AB_IMG" property="ABImg" />
		<result column="AB_REGION" property="ABregion" />
		<result column="AB_LATI" property="ABLati" />
		<result column="AB_LONG" property="ABLong" />
	</resultMap>


</mapper>