<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gae.mapper.ABMapper">

	<resultMap type="com.gae.dto.ABDTO" id="AB">
		<id column="AB_ID" property="ABId" />
		<result column="SH_ID" property="SHId" />
		<result column="AB_DATE" property="ABDate" />
		<result column="AB_LOCATION" property="ABLocation" />
		<result column="AB_STATUS" property="ABStatus" />
		<result column="AB_BREED" property="ABBreed" />
		<result column="AB_GENDER" property="ABGender" />
		<result column="AB_AGE" property="ABAge" />
		<result column="AB_WEIGHT" property="ABWeight" />
		<result column="AB_COLOR" property="ABColor" />
		<result column="AB_CHARACTER" property="ABCharacter" />
		<result column="AB_IMG" property="ABImg" />
		<result column="AB_REGION" property="ABregion" />
		<result column="AB_LATI" property="ABLati" />
		<result column="AB_LONG" property="ABLong" />
		<result column="SH_REGION" property="SHRegion" />
		<result column="SH_ADDRESS" property="SHAddress" />
		<result column="SH_NAME" property="SHName" />
		<result column="SH_TEL" property="SHTel" />
		<result column="SH_HOUR" property="SHHour" />
		<result column="SH_WGS84LATITUDE" property="SHLatitude" />
		<result column="SH_WGS84LONGITUDE" property="SHLongitude" />
	</resultMap>
	
	<!-- 전체 센터 수 조회 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from sh_ab_view
	</select>
	
	<!-- 페이지별 센터 조회 -->
	<select id="getABList" resultMap="AB">
		<![CDATA[
	      select *
	      from (
	        select a.*, rownum as rnum
	        from (
	          select *
	          from sh_ab_view
	          order by ab_id
	        ) a
	        where rownum <= #{endRow}
	      )
	      where rnum > #{startRow}
	    ]]>
	</select>
	
	<!-- 전체 지역 이름 조회 -->
	<select id="searchByAllRegion" resultMap="AB">
		select * from sh_ab_view where ab_breed like '%' || #{term} || '%'
	</select>
	
	<!-- 특정 지역 이름 조회 -->
	<select id="searchByBreedName" resultMap="AB">
		select * from sh_ab_view where ab_breed like '%' || #{term} || '%' and sh_region like #{category}
	</select>
	
	<!-- 특정 강아지 상세 -->
	<select id="getABDetail" resultMap="AB">
	    select * from sh_ab_view where ab_id = #{abid}
	</select>


</mapper>