<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gae.mapper.ABMapper">

    <resultMap id="abMap" type="com.gae.dto.ABDTO">
        <id column="AB_ID" property="abID"/>
        <result column="SH_ID" property="shID"/>
        <result column="AB_DATE" property="abDate"/>
        <result column="AB_LOCATION" property="abLocation"/>
        <result column="AB_STATUS" property="abStatus"/>
        <result column="AB_BREED" property="abBreed"/>
        <result column="AB_GENDER" property="abGender"/>
        <result column="AB_AGE" property="abAge"/>
        <result column="AB_WEIGHT" property="abWeight"/>
        <result column="AB_COLOR" property="abColor"/>
        <result column="AB_RESCUED" property="abRescued"/>
        <result column="AB_CHARACTER" property="abCharacter"/>
        <result column="AB_IMG" property="abImg"/>
    </resultMap>

    <select id="selectABList" resultMap="abMap">
    <![CDATA[
    SELECT * FROM (
        SELECT ROWNUM AS rnum, a.*
        FROM (
            SELECT * FROM AB ORDER BY AB_ID
        ) a
        WHERE ROWNUM <= #{endRow}
    )
    WHERE rnum >= #{startRow}
    ]]>
    </select>

   <select id="selectFilteredABList" parameterType="map" resultMap="abMap">
<![CDATA[
SELECT * FROM (
    SELECT ROWNUM AS rnum, a.*
    FROM (
        SELECT * FROM AB
        <where>
            <if test="filterParams.shID != null and filterParams.shID != ''">
                AND SH_ID = #{filterParams.shID, jdbcType=VARCHAR}
            </if>
            <if test="filterParams.region != null and filterParams.region != ''">
                AND AB_LOCATION LIKE '%' || #{filterParams.region, jdbcType=VARCHAR} || '%'
            </if>
            <if test="filterParams.centerName != null and filterParams.centerName != ''">
                AND AB_LOCATION LIKE '%' || #{filterParams.centerName, jdbcType=VARCHAR} || '%'
            </if>
            <if test="filterParams.startDate != null and filterParams.startDate != ''">
                AND AB_DATE >= #{filterParams.startDate, jdbcType=DATE}
            </if>
            <if test="filterParams.endDate != null and filterParams.endDate != ''">
                AND AB_DATE <= #{filterParams.endDate, jdbcType=DATE}
            </if>
            <if test="filterParams.breed != null and filterParams.breed != ''">
                AND AB_BREED LIKE '%' || #{filterParams.breed, jdbcType=VARCHAR} || '%'
            </if>
        </where>
        ORDER BY AB_ID
    ) a
    WHERE ROWNUM <= #{endRow}
)
WHERE rnum >= #{startRow}
]]>
</select>




   <select id="selectABTotalCount" resultType="int">
    SELECT COUNT(*) FROM AB
    WHERE 1=1
</select>

<select id="selectABTotalCountWithFilters" parameterType="map" resultType="int">
<![CDATA[
    SELECT COUNT(*) FROM AB
    WHERE 1=1
    <if test="filterParams.shID != null and filterParams.shID != ''">
        AND SH_ID = #{filterParams.shID}
    </if>
    <if test="filterParams.region != null and filterParams.region != ''">
        AND AB_LOCATION LIKE CONCAT(CONCAT('%', #{filterParams.region}), '%')
    </if>
    <if test="filterParams.centerName != null and filterParams.centerName != ''">
        AND AB_LOCATION LIKE CONCAT(CONCAT('%', #{filterParams.centerName}), '%')
    </if>
    <if test="filterParams.startDate != null and filterParams.startDate != ''">
        AND AB_DATE >= #{filterParams.startDate, jdbcType=DATE}
    </if>
    <if test="filterParams.endDate != null and filterParams.endDate != ''">
        AND AB_DATE <= #{filterParams.endDate, jdbcType=DATE}
    </if>
    <if test="filterParams.breed != null and filterParams.breed != ''">
        AND AB_BREED LIKE CONCAT(CONCAT('%', #{filterParams.breed}), '%')
    </if>
    ]]>
</select>









    <select id="selectABDetail" parameterType="string" resultMap="abMap">
    <![CDATA[
    SELECT * FROM AB WHERE AB_ID = #{id}
    ]]>
    </select>

    <insert id="insertAB" parameterType="com.gae.dto.ABDTO">
    <![CDATA[
    INSERT INTO AB (AB_ID, SH_ID, AB_DATE, AB_LOCATION, AB_STATUS, AB_BREED, AB_GENDER, AB_AGE, AB_WEIGHT, AB_COLOR, AB_RESCUED, AB_CHARACTER, AB_IMG)
    VALUES (#{abID}, #{shID}, #{abDate}, #{abLocation}, #{abStatus}, #{abBreed}, #{abGender}, #{abAge}, #{abWeight}, #{abColor}, #{abRescued}, #{abCharacter}, #{abImg})
    ]]>
    </insert>

    <delete id="deleteAB" parameterType="string">
    <![CDATA[
    DELETE FROM AB WHERE AB_ID = #{id}
    ]]>
    </delete>

</mapper>
