<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gae.mapper.CoMapper">
    <resultMap type="com.gae.dto.CoDTO" id="co">
        <id column="co_id" property="coId" />
        <result column="co_distinction" property="coDistinction" />
        <result column="co_name" property="coName" />
        <result column="co_hour" property="coHour" />
        <result column="co_tel" property="coTel" />
        <result column="co_address" property="coAddress" />
        <result column="co_satHour" property="coSatHour" />
        <result column="co_sunHour" property="coSunHour" />
        <result column="co_day" property="coDay" />
        <result column="co_img" property="coImg" />
        <result column="co_img_no" property="coImgNo"/>
        <result column="co_img_path" property="coImgPath"/>
    </resultMap>

    <select id="getConvenList" resultMap="co">
        <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM AS rnum, a.*
            FROM (SELECT * FROM co ORDER BY co_id) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rnum >= #{startRow}
        ]]>
    </select>
    
	<select id="getConvenListDesc" resultMap="co">
        <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM AS rnum, a.*
            FROM (SELECT * FROM CO ORDER BY co_id DESC) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rnum >= #{startRow}
        ]]>
    </select>
    
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(*) FROM co
        ]]>
    </select>

    <select id="searchConven" resultMap="co">
        <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM AS rnum, a.*
            FROM (SELECT * FROM co WHERE co_address LIKE '%' || #{coText} || '%' ORDER BY co_id) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rnum >= #{startRow}
        ]]>
    </select>

    <delete id="deleteConvenience">
        DELETE FROM co WHERE co_id = #{coId}
    </delete>

    <select id="getTotalCountBySearch" resultType="int">
        SELECT count(*) FROM co WHERE co_name LIKE '%' || #{coText} || '%'
    </select>

    <select id="selectConvenInfo" resultMap="co">
        SELECT * FROM co WHERE co_id = #{coId}
    </select>

    <insert id="convenInsert" parameterType="com.gae.dto.CoDTO">
        INSERT INTO co(CO_ID, co_distinction, co_name, co_hour, co_tel, CO_ADDRESS, co_satHour, co_sunHour, CO_IMG, co_day)
        VALUES (CO_ID_SEQ.NEXTVAL, #{coDistinction}, #{coName}, #{coHour}, #{coTel}, #{coAddress}, #{coSatHour}, 
        #{coSunHour}, #{coImg,jdbcType=VARCHAR}, #{coDay})
    </insert>
</mapper>