<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gae.mapper.ChatMsgMapper">

    <resultMap id="Msg" type="com.gae.dto.ChatMsgDTO">
	    <id property="msgNo" column="MSG_NO"/>
	    <result property="mIdFrom" column="M_ID"/>
	    <result property="mIdTo" column="M_ID2"/>
	    <result property="msgTitle" column="MSG_TITLE"/>
	    <result property="msgContent" column="MSG_CONTENT"/>
	    <result property="msgSendTime" column="MSG_SEND_TIME" jdbcType="TIMESTAMP"/>
	    <result property="msgCheck" column="MSG_CHECK" jdbcType="CHAR"/>
	    <result property="msgReceiveTime" column="MSG_RECEIVE_TIME" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="insertMsg" parameterType="com.gae.dto.ChatMsgDTO">
	    INSERT INTO MSG (M_ID, M_ID2, MSG_CONTENT, MSG_SEND_TIME, MSG_TITLE)
	    VALUES (#{mIdFrom}, #{mIdTo}, #{msgContent}, #{msgSendTime, jdbcType=TIMESTAMP}, #{msgTitle})
	</insert>
	
	<insert id="insertRMsg" parameterType="com.gae.dto.ChatMsgDTO">
	    INSERT INTO R_MSG (MSG_NO, M_ID, MSG_CHECK, MSG_RECEIVE_TIME)
	    VALUES (#{msgNo}, #{mIdTo}, #{msgCheck, jdbcType=CHAR}, #{msgReceiveTime, jdbcType=TIMESTAMP})
	</insert>

    <select id="selectMsgById" resultMap="Msg">
        SELECT m.MSG_NO, m.M_ID, m.M_ID2, m.MSG_CONTENT, m.MSG_SEND_TIME, m.MSG_TITLE, 
               r.MSG_CHECK, r.MSG_RECEIVE_TIME
        FROM MSG m
        JOIN R_MSG r ON m.MSG_NO = r.MSG_NO
        WHERE m.MSG_NO = #{msgNo}
    </select>

    <select id="selectMsgsBySender" resultMap="Msg">
        SELECT m.MSG_NO, m.M_ID, m.M_ID2, m.MSG_CONTENT, m.MSG_SEND_TIME, m.MSG_TITLE, 
               r.MSG_CHECK, r.MSG_RECEIVE_TIME
        FROM MSG m
        JOIN R_MSG r ON m.MSG_NO = r.MSG_NO
        WHERE m.M_ID = #{mIdFrom}
    </select>

    <select id="selectRMsgsByReciver" resultMap="Msg">
        SELECT m.MSG_NO, m.M_ID, m.M_ID2, m.MSG_CONTENT, m.MSG_SEND_TIME, m.MSG_TITLE, 
               r.MSG_CHECK, r.MSG_RECEIVE_TIME
        FROM MSG m
        JOIN R_MSG r ON m.MSG_NO = r.MSG_NO
        WHERE m.M_ID2 = #{mIdTo}
    </select>

</mapper>
