<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gae.mapper.ShelterMapper">
    <resultMap id="shelter" type="com.gae.dto.ShelterDTO">
        <id column="SH_ID" property="shID"/>
        <result column="SH_REGION" property="shRegion"/>
        <result column="SH_DIS" property="shDis"/>
        <result column="SH_ADDRESS" property="shAddress"/>
        <result column="SH_NAME" property="shName"/>
        <result column="SH_TEL" property="shTel"/>
        <result column="SH_ANIMAL_TYPE" property="shAnimalType"/>
        <result column="SH_HOUR" property="shHour"/>
    </resultMap>

    <select id="getShelterList" resultMap="shelter">
    <![CDATA[
    SELECT * FROM (
        SELECT ROWNUM AS rnum, a.*
        FROM (SELECT * FROM SH ORDER BY SH_ID) a
        WHERE ROWNUM <= #{endRow}
    )
    WHERE rnum >= #{startRow}
    ]]>
</select>
    
<select id="searchShelter" parameterType="map" resultMap="shelter">
    <![CDATA[
    SELECT * FROM (
        SELECT ROWNUM AS rnum, a.*
        FROM (SELECT * FROM SH
              WHERE SH_ADDRESS LIKE '%' || #{centerName, jdbcType=VARCHAR} || '%' 
              AND SH_REGION LIKE '%' || #{region, jdbcType=VARCHAR} || '%' 
              ORDER BY SH_ID) a
        WHERE ROWNUM <= #{endRow}
    )
    WHERE rnum >= #{startRow}
    ]]>
</select>


    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(*) FROM SH
        ]]>
    </select>
    
   <select id="getTotalCountBySearch" parameterType="map" resultType="int">
    <![CDATA[
    SELECT COUNT(*) FROM SH
    WHERE SH_ADDRESS LIKE '%' || #{centerName, jdbcType=VARCHAR} || '%'
    AND SH_REGION LIKE '%' || #{region, jdbcType=VARCHAR} || '%'
    ]]>
</select>

    
    <select id="selectShelterInfo" parameterType="string" resultMap="shelter">
        <![CDATA[
        SELECT * FROM SH WHERE SH_ID = #{id}
        ]]>
    </select>
    
    <delete id="deleteShelter" parameterType="string">
        <![CDATA[
        DELETE FROM SH WHERE SH_ID = #{id}
        ]]>
    </delete>
    
    <insert id="insertShelter" parameterType="com.gae.dto.ShelterDTO">
        <![CDATA[
        INSERT INTO SH (SH_ID, SH_REGION, SH_DIS, SH_ADDRESS, SH_NAME, SH_TEL, SH_ANIMAL_TYPE, SH_HOUR)
        VALUES (#{shID}, #{shRegion}, #{shDis}, #{shAddress}, #{shName}, #{shTel}, #{shAnimalType}, #{shHour})
        ]]>
    </insert>

</mapper>
