<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.gae.mapper.CoMapper">
		<resultMap type="com.gae.dto.CoDTO" id="co">
			<id column="co_id" property="plId" />
			<result column="co_name" property="coName" />
			<result column="co_hour" property="coHour" />
			<result column="co_tel" property="coTel" />
			<result column="co_address" property="coAddress" />
			<result column="co_img" property="coImg" />
		</resultMap>
		
	</mapper>