<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gae.mapper.ShelterMapper">
    <resultMap type="com.gae.dto.ShelterDTO" id="shelter">
        <id column="SH_ID" property="shID"/>
        <result column="SH_REGION" property="shRegion"/>
        <result column="SH_DIS" property="shDis"/>
        <result column="SH_ADDRESS" property="shAddress"/>
        <result column="SH_NAME" property="shName"/>
        <result column="SH_TEL" property="shTel"/>
        <result column="SH_ANIMAL_TYPE" property="shAnimalType"/>
        <result column="SH_HOUR" property="shHour"/>
    </resultMap>

    <select id="selectShelterList" resultMap="shelter">
        SELECT * FROM SH
        ORDER BY SH_ID
        LIMIT #{pageContentCount} OFFSET #{pageNo}
    </select>

    <select id="selectShelterTotalCount" resultType="int">
        SELECT COUNT(*) FROM SH
    </select>
</mapper>
